/* ini css */
.section-content {
    background-color: rgb(220, 15, 169);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.section-content>h4 {
    margin: 0;
}

#Switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0;
    color: rgb(10, 10, 203);
}

.formula-img {
    text-align: center;
}

img{
    width: 25%;
}

input {
    width: 97%;
    padding: 8px;
    background-color: rgb(131, 203, 252);
    border: black;
    font-family: math;
    border-radius: 10px
}

form>button{
    padding: 10px;
    float: center;
    background-color: rgb(255, 255, 255);
    color: rgb(224, 50, 50);
    border: 1px solid black;
    border-radius: 10px;
    
}

#reset-btn {
    float: inline-left;
    background-color: rgb(29, 143, 40);
    color: rgb(255, 255, 255);
}

footer {
    text-align: center;
    background-color: rgb(220, 15, 169);
    color: rgb(255, 255, 255);
    font-size: smaller;
    font-style: italic;
}
